body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 60px auto 0; 
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.grille_cartes {
    border: 8px solid #1a1919;
    margin: 30px 0px;
    border-radius: 6px;
    padding: 6px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 80%;
    max-width: 1600px;
}

.grille_cartes img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    border: 2px solid white;
}

.grille_cartes img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.infos_carte {
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.infos_carte p {
    margin: 5px 0;
    color: #333;
    font-size: 14px;
}

button {
    padding: 5px 10px;
}