body {
    background-color: #343434;
    font-family: Arial, Helvetica, sans-serif;
    color: #b4b3b3;

}

.content {
    width: 99%;
}

a {
    text-decoration: none; /* Enlever le soulignage par défaut */
    color: inherit; /* Garder la couleur du texte par défaut */
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #000; /* Couleur de la bordure inférieure */
    transition: width 0.3s ease, background-color 0.3s ease;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #333;
    border-bottom: 2px solid wheat;
    border-radius: 10px;
 
}

.pseudo:hover {
    color: #007bb5;
    

}

.bar_info {
    position: absolute;
    right: 0;
    top: 50; 
    display: flex;
    gap: 90px;
    align-items: center;
    padding: 40px;
}
nav {
    background-color: #333;
    padding: 10px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007bb5;
}


.content {
    padding: 20px;
}

a:hover::after {
    width: 100%;
    left: 0;
    background: #007bb5; 
}



.content {
    margin-right: 240px; /
}


.liste_cartes {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    flex-wrap: wrap; 
}

.liste_cartes li {
    margin: 10px; 
}

.liste_cartes img {
    max-width: 100px; 
    height: auto; 
    border: 1px solid #ccc; 
    padding: 5px; 
    background-color: #f9f9f9; 
}


#g {
    fill: #cd0d0d;
}
.carte {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 5px;
}


.infos_carte {
    position: absolute;
    top: 50%;
    left: 100%; 
    transform: translateY(-50%); 
    background-color: #1a1919;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    width: 150px; 
    opacity: 0; 
    visibility: hidden; /
    transition: opacity 0.5s ease, visibility 0s 0.5s; 
}

.carte:hover .infos_carte {
    opacity: 1; 
    visibility: visible; 
    transition: opacity 0.5s ease, visibility 0s 0s; 
}

.carte img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}


#g {
    background-color: goldenrod;
    border: 1px solid goldenrod; 
}

#n {
    background-color: red;
    border: 1px solid red;
}