{% extends "layout.html" %}



{%block title %}Collection{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/collection.css') }}">
{% endblock %}
{% block content %}
 

<nav>
    <ul class="nav-links">
        <li><a href="{{ url_for('home') }}">Accueil</a></li>
        <li><a href="{{ url_for('profile') }}">Profil</a></li>
        <li><a href="{{ url_for('deck') }}">Deck</a></li>
        <li><a href="{{ url_for('resultat') }}">Résultat</a></li>
        <li><a href="{{ url_for('construction') }}">Construction</a></li>
        <li><a href="{{ url_for('proposition') }}">Proposition</a></li>
        <li><a href="{{ url_for('collection') }}">Collection</a></li>
    </ul>
</nav>

    <div class="container">
    <div class="content-wrapper">
        <div class="grille_cartes">
            {% for c in cartes %}
                <div class="carte">
                    <img src="{{ url_for('static', filename='cartes/' ~ c.nom ~ '.jpg') }}" alt="carte">
                    <div class="infos_carte">
                        <p>{{ c.nom }}</p>
                        <p>{{ c.types }}</p>
                        <p>{{ c.coc }}</p>
                        <p>ATK : {{ c.atk_ }}</p>
                        <p>DEF : {{ c.def_ }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}

{% block erreur %}<p>{{msgerror}}</p>{% endblock erreur %}