<!DOCTYPE html>
<html>
    <head>
        {% block head  %}
        <meta charset="utf-8">
        <title>{%block title  %}{% endblock %} Mon titre</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
        {%endblock%}
    </head>
    <body>

    {%if infos %}
    <div class="bar_info">
        <h2>{{infos[1]}}</h2>
        <p>{{infos[4]}}</p>
        
    </div>
    {%endif%}
        
        <div class="containt">{% block content %}{% endblock %}</div>

        <div class="msgerror" id="msgerror">
            {% if error %}
                <p>{% block erreur %}{% endblock  %}</p>
            {% endif %}
        </div>
        
    </body>
</html>