{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/confronte.css') }}">
{% endblock %}
{% block content %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dateElement = document.getElementById('formatted-date');
        const dateStr = dateElement.textContent;
        const date = new Date(dateStr);
        const options = { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' };
        const formattedDate = date.toLocaleDateString('fr-FR', options);
        dateElement.textContent = formattedDate;
    });
</script>

<div class="bcontainer_conf" id="container_conf">
    <div class="container_conf" id="container_v">
        <a href="{{url_for('deck', id_deck=confronte.id_deck_vainqueur)}}">
            <img src="{{ url_for('static', filename='cartes/' ~ confronte.vg ~ '.jpg') }}" alt="{{confronte.vg}}" class="carte_confornte carte_vainqueur">
        </a>
    </div>

    <div class="vs">
        <p>VS</p>
    </div>

    <div class="container_conf" id="container_p">
        <a href="{{url_for('deck', id_deck=confronte.id_deck_perdant)}}">
            <img src="{{ url_for('static', filename='cartes/' ~ confronte.pg ~ '.jpg') }}" alt="{{confronte.vp}}" class="carte_confornte carte_perdant">
        </a>
    </div>
</div>

<div class="container_date">
    <p id="formatted-date">{{ confronte.date_ }}</p>
</div>



{% endblock %}